faiss-cpu
langchain
langchain-community
langchain-core
langchain-openai
openai
pandas
openpyxl
python-dotenv
streamlit
sentence-transformers
numpy
protobuf
tiktoken
transformers
scikit-learn
torch
tqdm